body {
    background-image: url("../images/paisley.png");
}

.content {
    margin-bottom: 90px;
}

nav {
    margin-bottom: 30px;
    border: 1px solid #cccccc;
}

.navbar-brand {
    background-color: #4aaaa5;
    padding: 10px;
    line-height: 60px;
    font-size:30px; 
    margin-left: 30px;
}

.nav-item {
    font-size: 20px;
}

#name {
    color: #ffffff;
}

.navbar {
    padding: 0; 
    background-color: #ffffff!important;
}

li {
    margin: 0 auto;   
}

.row {
    margin-left: auto;
    margin-right: auto;
}
.aboutMe {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding-top: 20px;
}

.contact {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding-top: 20px;
}

#aboutMeHeader {
    font-size: 28px;
    color: #4aaaa5;
}

#portfolioHeader {
    font-size: 28px;
    color: #4aaaa5;
}

#contactHeader {
    font-size: 28px;
    color: #4aaaa5;
}

hr {
    margin-bottom: 20px;
}

.card {
    border: 1px solid #dddddd;
}

.profilePic {
    width: 300px;
    margin-right: 10px;
}

.paragraphContainer {
    margin: 15px 10px;
}

.projects {
    margin-bottom: 15px;
}

.thumbnail {
    position: relative;
}

.caption {
    position: absolute;
    background-color: #4aaaa5;
    color: #ffffff;
    width: 94%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 75%;
    text-align: center;
}

.projectLabel {
    font-size: 18px;
}

#githubIcon {
    width: 50px;
}

#linkedinIcon {
    width: 50px;
}

#overflowIcon {
    width: 50px;
}

#connectWithMeHeader {
    color: #4aaaa5;
    font-size: 20px;
}

footer {
    background-color: #666666;
    height: 60px;
    border: 1px solid #cccccc;
}

.copyright {
    font-size: 10px;
    color: #ffffff;
    line-height: 40px;
}

.headingFonts {
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}

.otherFonts {
    font-family: 'Arial', 'Helvetica  Neue', Helvetica, sans-serif;
}

@media screen and (max-width: 991px) {
    .profilePic {
        width: 100%;
        margin: 0 0 10px 0;
    }
}
@media screen and (max-width: 768px) {
    .aboutMe {
        margin-right: 10px;
        margin-left: 10px;
        }

    .sideBar {
        padding-left: 0;
        padding-right: 0;
        margin-top: 30px;
        margin-right: 10px;
        margin-left: 10px;
    }

    .card {
        width: 100%!important;
    }

    .caption {
        width: 94%;
        height: 45px;
        top: 78%;
    }

    .projectLabel {
        line-height: 2.0;
        font-size: 22px;
    }

    projectPic {
        float: left;
    }
}
@media screen and (max-width: 576px) {
    .caption {
        width: 90%;
        height: 70px;
        }

    .projectLabel {
        font-size: 30px;
    }

    .navbar-nav {
        flex-direction: row;
    }
}

@media screen and (min-width: 576px) {
    .navbar-nav {
        float: right;
    }
}

